<!-- _contextpanel.html -->

<div class="context-panel" id="context-panel">
    <div id="context-panel-bar"></div>
    <div class="context-panel-row">
        <span class="context-panel-row-label">ID: &nbsp;</span>
        <span class="context-panel-row-value" id="context-panel-id-value"></span>
    </div>
    <div class="context-panel-row">
        <span class="context-panel-row-label">RA: &nbsp;</span>
        <span class="context-panel-row-value" id="context-panel-ra-value"></span>
    </div>
    <div class="context-panel-row">
        <span class="context-panel-row-label">DEC: &nbsp;</span>
        <span class="context-panel-row-value" id="context-panel-dec-value"></span>
    </div>
    <div class="context-panel-row">
        <span class="context-panel-row-label">Z<sub>PHOT</sub>: &nbsp;</span>
        <span class="context-panel-row-value" id="context-panel-zphot-value"></span>
    </div>
</div>