<div class="details" id="detailpanel">
  <div class="detail-scroller centertext" id="detailscroller">
    <div class="cutout-container" id="source-cutout"></div>

    <div class="detail-title-card">
      <div class="detail-title-card-row" id="detail-title-card-label">
        <span class="detail-title-header"></span>
        <span id="detail-title-header-val"></span>
      </div>

      <div class="detail-title-card-row" id="detail-title-card-positions">
        <span class="detail-title-ra">RA: </span>
        <span id="detail-title-ra-val"></span>&nbsp;
        <span class="detail-title-dec">DEC: </span>
        <span id="detail-title-dec-val"></span>&nbsp;
      </div>

      <div class="detail-title-card-row" id="detail-title-card-props">
        <span class="detail-title-z">z: </span>
        <span id="detail-title-z-val"></span>&nbsp;
        <span class="detail-title-sfr">SFR (log M<sub>&odot;</sub>/YR): </span>
        <span id="detail-title-sfr-val"></span>&nbsp;
      </div>

      <div class="detail-title-card-row" id="detail-title-card-magnitudes">
        <span class="detail-title-magnitudes">AB Mags: </span><br />
        <span id="detail-title-mag-f150w-val"></span>
        <span id="detail-title-mag-f200w-val"></span>
        <span id="detail-title-mag-f277w-val"></span>
      </div>
    </div>

    <div class="sed-container" id="detail-sed-plot"></div>

    <div class="mz-container" id="detail-mz-plot"></div>

    <div class="msfr-container" id="detail-msfr-plot"></div>
  </div>
</div>
