<div class="details details-on" id="detailpanel">
    <a href="#" id="closedetailbutton" class="close-details-button" aria-label="Close Details Panel"><i
            class="fa-solid fa-xmark"></i></a>

    <div class="detail-scroller centertext" id="detailscroller">

        <div class="test-detail-card">

            These are where the detail plots will go.

        </div>

        <div class="test-detail-card">

            These are where the detail plots will go.

        </div>

        <div class="test-detail-card">

            These are where the detail plots will go.

        </div>

        <div class="test-detail-card">

            These are where the detail plots will go.

        </div>

        <div class="test-detail-card">

            These are where the detail plots will go.

        </div>

        <div class="test-detail-card">

            These are where the detail plots will go.

        </div>

    </div>

</div>