<footer>
  <div class="footer-copyright">
    &copy; J-HIVE Collaboration {{currentYear}}
  </div>
  <div class="footer-logos">
    <a href="https://www.wellesley.edu/" target="_blank">
      <img
        src="../src/assets/wellesley-logo-text-white.png"
        height="60px"
        alt="Wellesley College"
      />
    </a>
    <a href="https://www.wellesley.edu/whitin-observatory" target="_blank">
      <img
        src="../src/assets/whitin-own-logo-text-vertical-white.png"
        alt="Whittin Observatory"
        height="60px"
      />
    </a>
  </div>
  <div class="footer-details">
    For more information, please visit: <br />
    <a href="https://github.com/j-hive/" target="_blank">The J-HIVE GitHub</a>
    <br />
    <a href="https://j-hive.github.io/jhive-docs/" target="_blank"
      >The J-HIVE Documentation</a
    >
  </div>
</footer>
