<div id="loadingbox">
  <div id="loadingmessage">
    <div class="loadingtitle">J-HIVE Visualization Tool Pilot</div>
    <div class="loadingtext">
      Welcome to JWST's Homogeneous Information-Rich Visualization of
      Extragalactic Datasets (J-HIVE). This project aims to provide an
      interactive means to visualize and explore a uniformly reduced JWST
      extragalactic datasets alongside value-added catalogs.
    </div>

    <div class="loadingtext">
      To learn more about the project or get involved, please visit our
      <a href="https://github.com/j-hive">GitHub Page</a>
    </div>

    <div id="loadingspinner">
      <div class="lds-facebook">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <div id="loadingstatus">Loading...</div>

    <div id="loadingclose">
      <button id="loadingclosebutton">Start Visualizing</button>
    </div>
  </div>
</div>
