/* Color Theme Swatches in Hex */
$J-HIVE-Theme-1-hex: #FACB73;
$J-HIVE-Theme-2-hex: #849CBA;
$J-HIVE-Theme-3-hex: #73ADFA;
$J-HIVE-Theme-4-hex: #A69A83;
$J-HIVE-Theme-5-hex: #676F7A;
$J-HIVE-Theme-6-hex: #4F4635;

/* Color Theme Swatches in RGBA */
$J-HIVE-Theme-1-rgba: rgba(249, 202, 114, 1);
$J-HIVE-Theme-2-rgba: rgba(132, 155, 186, 1);
$J-HIVE-Theme-3-rgba: rgba(114, 173, 249, 1);
$J-HIVE-Theme-4-rgba: rgba(165, 153, 130, 1);
$J-HIVE-Theme-5-rgba: rgba(102, 111, 122, 1);
$J-HIVE-Theme-6-rgba: rgba(79, 69, 52, 1);


// Main Colours

$Main-bg-hex: #282828;
$Main-text-hex: #ffffff;
$Main-secondary-text-hex: #666666;