/* Color Theme Swatches in Hex */
$J-HIVE-Theme-1-hex: #facb73;
$J-HIVE-Theme-2-hex: #849cba;
$J-HIVE-Theme-3-hex: #73adfa;
$J-HIVE-Theme-4-hex: #a69a83;
$J-HIVE-Theme-5-hex: #676f7a;
$J-HIVE-Theme-6-hex: #4f4635;

/* Color Theme Swatches in RGBA */
$J-HIVE-Theme-1-rgba: rgba(249, 202, 114, 1);
$J-HIVE-Theme-2-rgba: rgba(132, 155, 186, 1);
$J-HIVE-Theme-3-rgba: rgba(114, 173, 249, 1);
$J-HIVE-Theme-4-rgba: rgba(165, 153, 130, 1);
$J-HIVE-Theme-5-rgba: rgba(102, 111, 122, 1);
$J-HIVE-Theme-6-rgba: rgba(79, 69, 52, 1);

// Main Colours

$Main-bg-hex: #323232;
$Main-bg-transparent: rgba(40, 40, 40, 0.5);
$Main-text-hex: #ffffff;
$Main-secondary-text-hex: #666666;
