@use "colours";

// _context.scss

.context-panel {
  position: absolute;
  left: 2em;
  top: 5em;
  width: 10em;
  // height: 10em;
  background: colours.$Main-bg-transparent;
  border: 1px solid colours.$Main-secondary-text-hex;
  z-index: 10;
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  #colorbar-colors {
    width: 55%;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  #colorbar-title {
    text-align: center;
    min-height: 0.5em;
  }

  #colorbar-units {
    text-align: center;
    font-size: 0.8em;
    color: #999;
    margin-bottom: 0.5em;
  }

  #colorbarSVG {
    width: 100%;
    min-height: 2em;
    height: 100%;
  }
}

#context-panel-bar {
  width: 100%;
  height: 10px;
  background-color: colours.$Main-secondary-text-hex;
  z-index: 11;
  cursor: grab;
}

.context-panel-row {
  // width: 100%;
  flex-grow: 10;
  padding-top: 0.2em;
  // padding-bottom: 0.2em;
  // padding-left: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: "Bebas Neue", sans-serif;
  color: #ccc;
  margin-right: auto;
  margin-left: auto;
}

.context-panel-row-label {
  font-family: "Bebas Neue", sans-serif;
  color: #ccc;
}

.context-panel-row-value {
  color: #fff;
  font-size: 0.95rem;
}

#colorbar-min-value,
#colorbar-max-value {
  font-size: 0.9em;
}
