@use "colours";

// _details.scss

.details {
  position: relative;
  width: 100vw;
  height: 12em;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border-top-style: solid;
  border-color: colours.$Main-secondary-text-hex;
  background-color: colours.$Main-bg-transparent;
  display: flex;
  overflow: hidden;
  z-index: 3;

  .close-details-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;

    &:hover {
      color: colours.$J-HIVE-Theme-1-hex;
    }
  }

  .detail-scroller {
    height: 95%;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;

    // scrollbar-color: #777 #222222;
    // scrollbar-width: 10px;

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #222222;
    }

    &::-webkit-scrollbar {
      height: 10px;
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #777;
    }
  }
}

.detail-title-card {
  min-width: 15em;
}

.cutout-container {
  width: 8em;
  height: 8em;
  margin-right: 1em;
  background-color: #222222;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.detail-title-card-row {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1em;
  color: #ccc;
}

#detail-title-card-label {
  color: #fff;
  font-size: 1.5em;
}

#detail-title-card-positions {
}

#detail-title-card-magnitudes {
}

#detail-sed-plot {
  height: 8em;
  width: 30em;
  margin-left: 2em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 2em;
}

.sed-y-axis .domain,
.sed-x-axis .domain {
  stroke: none;
}

.sed-y-axis .tick line {
  opacity: 0.5;
  color: gray;
}

// .sed-yaxis .tick text {
//     color: gray;
// }

.test-detail-card {
  border: 1px solid gray;
  margin: 1em;
  padding: 1em;
  height: 7em;
  width: 10em;
  flex-shrink: 0;
}
